body {
    
      background-image: url(../img/background.jpg);
      background-position: center;
      background-repeat: repeat;
  }

  #imagen{
    margin-top: 2rem;
  }



/* #my-video {
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
    } */